# .github/workflows/nodejs.yml


on: push # 触发此文件运行的条件
name: CI/CD # 此工作流程（workflow）的名字
jobs:
  FTP-Deploy-Action:
    name: CI&CD # 此任务（job）的名字
    runs-on: ubuntu-latest # 运行环境
    steps:
      - uses: actions/checkout@v2 # 切换分支到master
#         with:
#           fetch-depth: 2
      - run: git checkout master 
#       - run: git pull --prune
#       - run: git remote prune origin
#       - run: git rebase
#       --prune

      - run: sudo chmod -R 777 ./*
#      - name: "Build Android project"
      - uses: vgaidarji/android-github-actions-build@v1.0.1
        with:
          args: "./gradlew assembleDebug"

      - run: tree ./*